button.btn.btn-outline-dark {
    padding: 0px;
    margin: 2px;
    border-radius: 0px;
    width: 75px;
    height: 70px;
    border: 1px solid #000;
    font-size: 40px;
    text-align: center;
}
.btn-check:focus+.btn-outline-dark, .btn-outline-dark:focus {
    box-shadow: none;
}
.btnMove{
    padding: 10px 20px;
    border: none;
    margin-bottom: 10px;
    background: #000;
    color: #fff;
}